<a href="https://colab.research.google.com/github/ulischlickewei/Maths1-EGM-Winter2023/blob/main/Chapter_2-Sequences_and_series/20231109_Sequences_in_SymPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2) Sequences in SymPy

In [ ]:
from sympy import *

*Example*: Use SymPy to determine
$$\lim_{n\to \infty} \sqrt[n]{q}$$

In [ ]:
def seq(n):
  return q**(1/n)

In [ ]:
q=6
n = symbols('n')
limit(seq(n),n,oo)

1

In [ ]:
seq(n)

6**(1/n)

In [ ]:
limit(6**(1/n), n, oo)

1

In [ ]:
from sympy import *
q = symbols('q', positive = True)
n = symbols('n')
limit(q**(1/n), n, oo)

1

*Exercise*: For which values of $a\in\mathbb{R}$ is the sequence
$$a_n = \frac{e^{an} (n^2+3n)}{n^a (an^2+ 2n +4)}$$
convergent?

In [ ]:
a = symbols('a', positive = True)
n = symbols('n')
an = (exp(a*n) * (n**2 + 3*n)) / (
    n**a * (a*n**2 + 2*n + 4)
)
an

(n**2 + 3*n)*exp(a*n)/(n**a*(a*n**2 + 2*n + 4))

In [ ]:
limit(an, n, oo)

oo

In [ ]:
a = symbols('a', negative = True)
n = symbols('n')
an = (exp(a*n) * (n**2 + 3*n)) / (
    n**a * (a*n**2 + 2*n + 4)
)
display(an)
limit(an, n, oo)

(n**2 + 3*n)*exp(a*n)/(n**a*(a*n**2 + 2*n + 4))

0

In [ ]:
a = 0
n = symbols('n')
an = (exp(a*n) * (n**2 + 3*n)) / (
    n**a * (a*n**2 + 2*n + 4)
)
display(an)
limit(an, n, oo)

(n**2 + 3*n)/(2*n + 4)

oo

In [ ]:
a = 1
n = symbols('n')
an = (exp(a*n) * (n**2 + 3*n)) / (
    n**a * (a*n**2 + 2*n + 4)
)
limit(an, n, 10)

13*exp(10)/124

In [ ]:
a = symbols('a')
n = symbols('n')
an = (exp(a*n) * (n**2 + 3*n)) / (
    n**a * (a*n**2 + 2*n + 4)
)
an

(n**2 + 3*n)*exp(a*n)/(n**a*(a*n**2 + 2*n + 4))

In [ ]:
# To evalaute this expression for specific values of a
# we can use the command subs
an.subs(a,1) #evaluates the expression using the value 1 for a

(n**2 + 3*n)*exp(n)/(n*(n**2 + 2*n + 4))

In [ ]:
# To evaluate this expression for specific values of both
# symbols
an.subs({a : 1, n : 100}) # evaluates an at a = 1 and n = 100

103*exp(100)/10204

## Recursive sequences

In [ ]:
an = 1
n = 10
for i in range(n):
  an = sqrt(2*an)
  print('a_', i+2, ' = ', an.evalf())

a_ 2  =  1.41421356237310
a_ 3  =  1.68179283050743
a_ 4  =  1.83400808640934
a_ 5  =  1.91520656139715
a_ 6  =  1.95714412417540
a_ 7  =  1.97845602638795
a_ 8  =  1.98919884696727
a_ 9  =  1.99459211217094
a_ 10  =  1.99729422578194
a_ 11  =  1.99864665500530