<a href="https://colab.research.google.com/github/ulischlickewei/Maths1-EGM-Winter2023/blob/main/Chapter_2-Sequences_and_series/20231116_Series_in_Sympy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Example: exponential series

In [ ]:
x = 1
def exponential_series(n):
  import math
  S = 0
  for k in range(n):
    S += x**k/math.factorial(k)
  return S

In [ ]:
for n in range(5):
  print('S_', 10**n, ' = ',
        exponential_series(10**n))

S_ 1  =  1.0
S_ 10  =  2.7182815255731922
S_ 100  =  2.7182818284590455
S_ 1000  =  2.7182818284590455
S_ 10000  =  2.7182818284590455

#2) Finite sums in Python

In [ ]:
from sympy import *

Assume that we want to compute tenth partial sum of the harmonic series:
$$\sum_{n=1}^{10} \frac{1}{n}.$$

We use the `Sum` function from Sympy and we provide
- First argument: the expression to be summed up (in our case $\frac{1}{n}$)

- Second argument: a triple consisting of
  1. Dummy variable over which my sum runs (in our case $n$)
  2. Lower limit of my sum (in our case $1$)
  3. Upper limit of my sum (in our case $10$)

In [ ]:
#10th partial sum
n = symbols('n')
S = Sum(1/n,(n, 1, 10))
display(S)

Sum(1/n, (n, 1, 10))

In [ ]:
type(S)

sympy.concrete.summations.Sum

In order to force SymPy to compute the value of the sum, we call `.doit()`.

In [ ]:
S.doit()

7381/2520

We could also have variable lower or upper limits of a sum. As an example, we consider the $N$-th partial sum of the harmonic series:

In [ ]:
N = symbols('N')
S2 = Sum(1/n, (n,1,N))

In [ ]:
display(S2)

Sum(1/n, (n, 1, N))

In [ ]:
S2.doit()

harmonic(N)

As another example, let's look at the Gaussian sum formula:
$$ \sum_{n=1}^N n = \frac{N(N+1)}{2}.$$

In [ ]:
S3 = Sum(n,(n,1,N))
display(S3)

Sum(n, (n, 1, N))

In [ ]:
S3.doit()

N**2/2 + N/2

#3.) Series in SymPy

**Example**: Geometric series
$$\sum_{n=0}^\infty \left( \frac13 \right)^n$$

In [ ]:
n = symbols('n')
S4= Sum(sympify(1)/3**n, (n, 0, oo))
display(S4)

Sum(3**(-n), (n, 0, oo))

In [ ]:
S4.doit()

3/2

In [ ]:
S4.is_convergent()

True

In [ ]:
S5 = Sum(1/n,(n,1,oo))
S5

Sum(1/n, (n, 1, oo))

In [ ]:
S5.doit()

oo